footer {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient($bottom-gradient-color-transparent, $bottom-gradient-color);

  @media (min-width: $center-content-width) {
    display: block;
  }

  @media (min-width: $center-content-width) and (min-height: $show-gradient-height) {
    background: none;
  }

  .tag {
    &:hover {
      color: $transparent-white-hover;

      border-color: $transparent-white-hover;
    }
  }

  #left-buttons, #right-buttons {
    display: none;
    position: absolute;
    bottom: 0;
    margin: 20px;

    @media (min-width: $show-footer-buttons-width) {
      display: block;
    }
  }

  #left-buttons {
    left: 0;
  }

  #right-buttons {
    right: 0;
  }

  #twitter-link {
    margin-left: 5px;
  }
}
