// Screen sizes
$screen-mobile-width: 500px;
$screen-gradient-height: 876px;
$screen-flex-height: 976px;

// Animations
$transition-duration: 0.15s;

// Colors
$top-gradient-color: rgb(239, 91, 104);
$bottom-gradient-color: rgb(230, 92, 124);
$bottom-gradient-color-transparent: rgba(230, 92, 124, 0);
$transparent-white: rgba(255, 255, 255, 0.5);
$transparent-white-hover: rgba(255, 255, 255, 0.7);

// Font families
$helvetica-neue-light: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$helvetica-neue: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: $helvetica-neue-light; 
  color: white;
  -webkit-font-smoothing: antialiased;

  background: linear-gradient($top-gradient-color, $bottom-gradient-color);

  @media (min-width: $screen-mobile-width) {
    text-align: center;
  }
}

a {
  color: white;
}

* {
  transition: color $transition-duration, border-color $transition-duration, background-color $transition-duration;
}

h1, h2 {
  font-weight: 300;
  letter-spacing: -1px;
  margin: 0;
}

p {
  font-family: $helvetica-neue;
}
